/* Variables */
/* Mixins */
/* Content */
body {
  background: url(../images/bgimg.png);
  font-family: "Arial", sans-serif; }

#page {
  width: 960px;
  min-height: 500px; }

#page_container {
  background-color: #fff;
  width: 1075px;
  margin-left: auto;
  margin-right: auto;
  -moz-box-shadow: 0px 0px 10px #3b3c3d;
  -webkit-box-shadow: 0px 0px 10px #3b3c3d;
  -o-box-shadow: 0px 0px 10px #3b3c3d;
  box-shadow: 0px 0px 10px #3b3c3d; }

#body_content h1 {
  color: #3b95d0;
  font-size: 26px;
  font-weight: bold; }

#body_content_left {
  max-width: 660px;
  color: #3b3c3d;
  margin-bottom: 25px; }
  #body_content_left h1 {
    color: #3b95d0;
    font-size: 24px;
    font-weight: bold; }
  #body_content_left h2 {
    color: #3b95d0;
    font-size: 20px;
    font-weight: bold; }
  #body_content_left h3 {
    color: #3b95d0;
    font-size: 18px;
    font-weight: bold; }
  #body_content_left p, #body_content_left ol, #body_content_left ul {
    font-size: 13.5px;
    line-height: 1.5;
    letter-spacing: 0.75px; }

#body_content_right {
  width: 300px; }

#side_nav {
  margin-top: 10px;
  width: 300px;
  float: right; }
  #side_nav ul {
    list-style: none;
    line-height: 1.5; }
  #side_nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold; }

.logo img {
  margin-top: 20px; }

.hangribbons {
  float: right;
  font-size: 1.5em; }
  .hangribbons ul {
    list-style: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0; }
    .hangribbons ul li {
      height: 60px;
      width: 155px;
      float: left;
      padding-top: 1em;
      position: relative;
      text-align: center;
      background: url("../images/flag.png") no-repeat center bottom; }
      .hangribbons ul li a {
        color: #fff;
        text-decoration: none; }
      .hangribbons ul li .inner {
        margin: 0;
        z-index: 1;
        font-size: 100%;
        display: none;
        position: absolute;
        background: url("../images/flag.png") no-repeat center bottom;
        height: 180px;
        width: 100%; }

div.ribbon {
  position: relative;
  width: 100%;
  float: left;
  clear: both;
  color: #fff;
  -moz-box-shadow: 0px 2px 8px #3b3c3d;
  -webkit-box-shadow: 0px 2px 8px #3b3c3d;
  -o-box-shadow: 0px 2px 8px #3b3c3d;
  box-shadow: 0px 2px 8px #3b3c3d; }
  div.ribbon.top {
    height: 5px;
    background: #3b95d0;
    padding: 10px 10px 10px 30px;
    margin-left: -20px; }
    div.ribbon.top:before {
      content: " ";
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: 0;
      margin-bottom: -20px;
      z-index: 2;
      background: url(../images/topleft.png);
      left: 0;
      right: auto; }
    div.ribbon.top:after {
      content: " ";
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: 0;
      margin-bottom: -20px;
      z-index: 2;
      background: url(../images/topright.png);
      right: 0;
      left: auto; }
  div.ribbon.bigpicture {
    padding: 10px 10px 10px 30px;
    margin-left: -20px;
    margin-bottom: 40px;
    background: #fff;
    font-size: 1.5em; }
    div.ribbon.bigpicture:before {
      content: " ";
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: 0;
      margin-bottom: -20px;
      z-index: 2;
      background: url(../images/photoleft.png);
      left: 0;
      right: auto; }
    div.ribbon.bigpicture:after {
      content: " ";
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: 0;
      margin-bottom: -20px;
      z-index: 2;
      background: url(../images/photoright.png);
      left: auto;
      right: 0; }
  div.ribbon.foot {
    margin-left: -20px;
    background: #3b95d0;
    padding: 30px 10px 10px 30px;
    -moz-box-shadow: 0px -2px 8px #3b3c3d;
    -webkit-box-shadow: 0px -2px 8px #3b3c3d;
    -o-box-shadow: 0px -2px 8px #3b3c3d;
    box-shadow: 0px -2px 8px #3b3c3d; }
    div.ribbon.foot .content {
      margin-left: 30px;
      text-shadow: 0px 0px 3px #3b3c3d; }
      div.ribbon.foot .content h3 {
        color: #fff; }
      div.ribbon.foot .content ul {
        list-style: none;
        padding: 0;
        line-height: 1.25em; }
    div.ribbon.foot:before {
      content: " ";
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: 0;
      margin-bottom: -20px;
      z-index: 2;
      background: url(../images/bottomleft.png);
      left: 0;
      right: auto;
      top: -20px;
      bottom: auto; }
    div.ribbon.foot:after {
      content: " ";
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: 0;
      margin-bottom: -20px;
      z-index: 2;
      background: url(../images/bottomright.png);
      left: auto;
      right: 0;
      top: -20px;
      bottom: auto; }

.banner.left {
  float: left;
  margin-left: -20px;
  margin-right: auto; }
.banner.topright {
  float: right; }
.banner.bottomright {
  float: right;
  margin-top: 10px; }

header {
  width: 100%; }
  header .inner {
    margin-left: 50px;
    margin-right: 50px; }

#body_content_right .inner h3 {
  width: 100%; }
  #body_content_right .inner h3.upcoming_events {
    color: #1197d2;
    #text-shadow: 1px 1px 1px #3b3c3d; }
  #body_content_right .inner h3.calendar {
    color: #9f990b;
    #text-shadow: 1px 1px 1px #3b3c3d; }
  #body_content_right .inner h3.rfp {
    color: #e05850;
    #text-shadow: 1px 1px 1px #3b3c3d; }
  #body_content_right .inner h3.video_testimonials {
    color: #00cee8;
    #text-shadow: 1px 1px 1px #3b3c3d; }

.menu {
  margin-top: 35px; }
  .menu li {
    background-color: #3b3c3d;
    margin-right: 3px; }
    .menu li:hover {
      background-color: #3b95d0; }
    .menu li.selected {
      font-weight: normal;
      background-color: #205d85; }
      .menu li.selected:hover {
        background-color: #3b95d0; }
    .menu li.first {
      margin-left: 7px; }
    .menu li.last {
      margin-right: 7px; }
    .menu li ul {
      display: none; }
  .menu a {
    font-family: "Tahoma", sans-serif;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 3px #090909;
    padding: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    -moz-box-shadow: 0px 0px 0px #3b3c3d;
    -webkit-box-shadow: 0px 0px 0px #3b3c3d;
    -o-box-shadow: 0px 0px 0px #3b3c3d;
    box-shadow: 0px 0px 0px #3b3c3d; }

footer {
  width: 100%; }

div.event section.event_image {
  float: none; }
div.event section.start_end p {
  margin-bottom: 1em;
  color: #87898a;
  font-size: 10px;
  font-style: italic; }
div.event h1 {
  font-size: 2em; }
  div.event h1 a {
    text-decoration: none; }

.upcoming_events ul {
  list-style: none;
  padding: 0px;
  margin: 0;
  margin-bottom: 10px;
  -webkit-padding-start: 0px; }
  .upcoming_events ul li {
    line-height: 1.25em;
    color: #3b3c3d; }
    .upcoming_events ul li.date {
      font-weight: bold;
      font-size: 1.25em; }
.upcoming_events a {
  text-decoration: none;
  font-weight: bold;
  color: #3b95d0;
  font-size: 1em; }

.ads {
  display: none;
  float: right; }
