<div class="hangribbons">
  <ul>
    <li>
      <%= link_to "PLANNERS", 'planners' %>
      <div class="inner">
      <br>
        From small gatherings to large expos, we provide the resources and facilities to make any event a success.<br><br><a href="planners">Learn More</a>
      </div>
    </li>
    <li>
      <%= link_to "EXHIBITORS", 'exhibitors' %>
      <div class="inner">
      <br>
        Flexible and functional, Montego Bay offers the latest technology with convenient access and versatility of configuration.<br><br><a href="exhibitors">Learn More</a>
      </div>
    </li>
    <li>
      <%= link_to "ATTENDEES", 'attendees' %>  
      <div class="inner">
      <br>
        Attendees will love our modern, welcoming facilities, located in a prime location just minutes from world class dining, luxurious accomodations, and beautiful beaches.<br><br><a href="attendees">Learn More</a>
      </div>
    </li>
  </ul>
</div>