<div class="hangribbons">
  <ul>
    <li>
      <%= link_to "PLANNERS", 'planners' %>
      <div class="inner">
        This is some content.
      </div>
    </li>
    <li>
      <%= link_to "EXIBITORS", 'exhibitors' %>
      <div class="inner">
        This is some content.
      </div>
    </li>
    <li>
      <%= link_to "ATTENDEES", 'attendees' %>  
      <div class="inner">
        This is some content.
      </div>
    </li>
  </ul>
</div>