<section class="upcoming_events">
  <%= div_for featured_event,  do -%>
    <%= link_to featured_event.title, featured_event -%>
    Starts at: <%= featured_event.start_at.strftime('%b %e. %Y %l:%M %p') %>
  <% end -%>
</section>