<section id='body_content'>
  <section id="body_content_left">
    <div class="inner">
      <%= raw @page.content_for :body %>
    </div>
  </section>
  <section id="body_content_right">
  	<div class="inner">
  	  <h3 class="upcoming_events">Upcoming Events</h3>
        <%= render :partial => 'featured_event', :collection => @featured_events -%>
  	  <h3 class="calendar"><a href="../events">Calendar of Events</a></h3>
  	  <h3 class="rfp"><a href="../the-centre/forms">Request for Proposal</a></h3>
  	  <h3 class="video_testimonials"><a href="http://www.youtube.com/watch?v=HMtfy7zi0-M&feature=player_embedded">Video Testimonials</a></h3>
  	  <%= raw @page.content_for :side_body %>
  	</div>
  </section>	
</section>
<%= render :partial => '/shared/draft_page_message' unless @page.nil? or @page.live? -%>