<div class="window gallery">
  <div class="image_reel">
    <% @page.images.each do |img| %>
      <%= image_tag img.thumbnail('940x').url %>
    <% end %>
  </div>
</div>
<div class="paging gallery">
  <% @page.images.each_with_index do |img, i| %>
    <a class="gallery" href="#" rel="<%= i+1 %>"><%= image_tag img.thumbnail("110x110#").url %></a>
  <% end %>
</div>