/* Variables */
$dark-gray: #3b3c3d;
$blue: #3b95d0;
$light-blue: #1197d2;
$pale-green: #9f990b;
$red: #e05850;
$sky: #00cee8;
/* Mixins */
@mixin blue-hover {
  &:hover { background-color:$blue; }
}
@mixin ribbon-before-after {
    content:" ";
    display:block;
    width:20px;
    height:20px;
    position:absolute;
    bottom:0;
    margin-bottom:-20px;
    z-index:2;
}
@mixin ribbon-shadow($x, $y, $b, $color: darken($dark-gray,0%)) {
  -moz-box-shadow:$x $y $b $color;
  -webkit-box-shadow:$x $y $b $color;
  -o-box-shadow:$x $y $b $color;
  box-shadow:$x $y $b $color;
}

@mixin kill-webkit{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
}
/* Content */
body {
  background: url(../images/bgimg.png);
  font-family:"Arial", sans-serif;
}
#page {
  width:960px;
  min-height:500px;
}
#page_container {
  background-color:#fff;
  width: 1075px;
  margin-left:auto; 
  margin-right:auto;
  @include ribbon-shadow(0px, 0px, 10px);
}
#body_content {
  h1{
    color: $blue;
    font-size: 26px;
    font-weight: bold;
  }
}
#body_content_left {
  max-width:660px;
  color: $dark-gray;
  margin-bottom:25px;
  h1{
    color: $blue;
    font-size: 24px;
    font-weight: bold;
  }
  h2{
    color: $blue;
    font-size: 20px;
    font-weight: bold;
  }
  h3{
    color: $blue;
    font-size: 18px;
    font-weight: bold;
  }
  p,ol,ul{
  font-size: 13.5px;
  line-height: 1.5; 
  letter-spacing: 0.5px;
  }
  a{
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}
#body_content_right {
  width:300px;
}
#side_nav {
  margin-top: 10px;
  width: 300px;
  float: right;
  ul {
    list-style:none;
    line-height: 1.5;
  }
  a{
    text-decoration:none;
    font-size: 18px;
    font-weight: bold;
  }
}
.logo img {
  margin-top:20px;
}
.hangribbons {
  float:right;
  font-size:1.5em;
  ul{
    list-style:none;
    @include kill-webkit;
    li {
      height:60px;
      width:155px;
      float:left;
      padding-top:1em;
      position:relative;
      text-align:center;
      background: url('../images/flag.png') no-repeat center bottom;

      a {
        color:#fff;
        text-decoration:none;
      }
      .inner {
        margin:0;
        z-index:1;
        font-size:100%;
        display:none;
        position:absolute;
        background: url('../images/flag.png') no-repeat center bottom;
        height: 180px;
        width:100%;
      }
    }
  }
}
div.ribbon {
  position:relative;
  width:100%;
  float:left;
  clear:both;
  color: #fff;
  @include ribbon-shadow(0px, 2px, 8px);
  
  &.top {
    height:5px;
    background:$blue;
    padding:10px 10px 10px 30px;
    margin-left:-20px;
    &:before {
      @include ribbon-before-after;
      background:url(../images/topleft.png);
      left:0;
      right:auto;
    }
    &:after {
      @include ribbon-before-after;
      background:url(../images/topright.png);
      right:0;
      left:auto;
    }
  }
  &.bigpicture {
    padding: 10px 10px 10px 30px;
    margin-left:-20px;
    margin-bottom:40px;
    background: #fff;
    font-size:1.5em;
    &:before {
      @include ribbon-before-after;
      background: url(../images/photoleft.png);
      left:0;
      right:auto;
    }
    &:after {
      @include ribbon-before-after;
      background: url(../images/photoright.png);
      left: auto;
      right: 0;
    }
  }
  &.foot {
    margin-left:-20px;
    background: $blue;
    padding:30px 10px 10px 30px;
    
    .content {
      margin-left:30px;
      text-shadow: 0px 0px 3px $dark-gray;
      h3 {
        color: #fff;  
      }
      ul {
        list-style:none;
        padding:0;
        line-height:1.25em;
      }
    }
    
    @include ribbon-shadow(0px, -2px, 8px);
    
    &:before {
      @include ribbon-before-after;
      background: url(../images/bottomleft.png);
      left:0;
      right:auto;
      top:-20px;
      bottom:auto;
    }
    &:after {
      @include ribbon-before-after;
      background: url(../images/bottomright.png);
      left:auto;
      right:0;
      top:-20px;
      bottom:auto;
    }
  }
}
.banner {
	&.left {
	float:left;
	margin-left:-20px;
	}
}
header { 
  width: 100%;
  .inner {
    margin-left:50px;
    margin-right:50px;
  }
}
#body_content_right {
  .inner h3
  {
    width: 100%;
    &.upcoming_events {
      color: $light-blue;
      #text-shadow: 1px 1px 1px $dark-gray;
    }
    &.calendar {
      color: $pale-green;
      #text-shadow: 1px 1px 1px $dark-gray;
    }
    &.rfp {
      color: $red;
      #text-shadow: 1px 1px 1px $dark-gray;
    }
    &.video_testimonials {
      color: $sky;
      #text-shadow: 1px 1px 1px $dark-gray;
    }
  }
}
.menu {
  margin-top:35px;
  li {
    background-color: $dark-gray;
    margin-right:3px;
    @include blue-hover;
    &.selected {
      font-weight:normal;
      background-color: darken($blue,20%);
      @include blue-hover;
    }
    &.first {
      margin-left: 7px;
    }
    &.last {
      margin-right: 7px;
    }
    ul {
      display:none;
    }
  }
  a {
    font-family:"Tahoma", sans-serif;
    color:#fff;
    text-decoration:none;
    font-weight: bold;
    text-shadow: 1px 1px 3px darken($dark-gray, 20%);
    padding:17px;
    padding-top:15px;
    padding-bottom:15px;
    display:block;
    @include ribbon-shadow(0px, 0px, 0px)
  }
}
footer {
  width:100%;
}

div.event{
  section {
    &.event_image {
      float:none; 
    }
    &.start_end {
      p {
        margin-bottom:1em;
        color:lighten($dark-gray, 30%);
        font-size:10px;
        font-style:italic;
      }
    }
  }

  h1 {
    font-size:2em;
    a {
      text-decoration:none;
    }
  }
}
.upcoming_events {
  ul {
    list-style:none;
    padding:0px;
    margin: 0;
    margin-bottom:10px;
    -webkit-padding-start:0px;
    li {
      line-height:1.25em;
      color:$dark-gray;
      &.date {
        font-weight:bold;
        font-size:1.25em;
      }
    }
  }
  a {
    text-decoration:none;
    font-weight:bold;
    color: $blue;
    font-size:1em;
  }
}
.ads
{
  display:none;
  float:right;
}
