/* Variables */
$dark-gray: #3b3c3d;
$blue: #3b95d0;
$light-blue: #1197d2;
$pale-green: #9f990b;
$red: #e05850;
$sky: #00cee8;
/* Mixins */
@mixin blue-hover {
  &:hover { background-color:$blue; }
}
@mixin ribbon-before-after {
    content:" ";
    display:block;
    width:20px;
    height:20px;
    position:absolute;
    bottom:0;
    margin-bottom:-20px;
    z-index:2;
}
@mixin ribbon-shadow($x, $y, $b, $color: darken($dark-gray,20%)) {
  -moz-box-shadow:$x $y $b $color;
  -webkit-box-shadow:$x $y $b $color;
  -o-box-shadow:$x $y $b $color;
  box-shadow:$x $y $b $color;
}

@mixin hangribbon($x, $y) {
  background: url(../images/menusprite_trans.png) $x $y;
}

/* Content */
body {
  background: url(../images/bgimg.png);
  font-family:"Arial", sans-serif;
}
#page {
  width:960px;
}
#page_container {
  background-color:#fff;
  width: 1075px;
  margin-left:auto; 
  margin-right:auto;
  @include ribbon-shadow(0px, 0px, 13px);
}
#body_content_left {
  width:660px;
  h2{
  color : lighten($dark-gray,10%);
  }
  p{
  font-size: 13px;
  line-height: 1.5;
  color: lighten($dark-gray,10%);
  }
}
#body_content_right {
  width:300px;
}
img.hangribbons {
  width:150px;
  height:110px;
  &.planners {
    margin-left:225px;
    @include hangribbon(0px,0px)
  }
  &.exibitors {
    @include hangribbon(-150px, 0px)
  }
  &.attendees {
    @include hangribbon(-300px, 0px)
  }
}
div.ribbon {
  position:relative;
  width:100%;
  float:left;
  clear:both;
  color: #fff;
  @include ribbon-shadow(0px, 2px, 10px);
  
  &.top {
    height:5px;
    background:$blue;
    padding:10px 10px 10px 30px;
    margin-left:-20px;
    &:before {
      @include ribbon-before-after;
      background:url(../images/topleft.png);
      left:0;
      right:auto;
    }
    &:after {
      @include ribbon-before-after;
      background:url(../images/topright.png);
      right:0;
      left:auto;
    }
  }
  &.bigpicture {
    height:400px;
    padding: 10px 10px 10px 30px;
    margin-left:-20px;
    margin-bottom:10px;
    background: #fff;
    font-size:1.5em;
    &:before {
      @include ribbon-before-after;
      background: url(../images/photoleft.png);
      left:0;
      right:auto;
    }
    &:after {
      @include ribbon-before-after;
      background: url(../images/photoright.png);
      left: auto;
      right: 0;
    }
  }
  &.foot {
    margin-left:-20px;
    background: $blue;
    padding:30px 10px 10px 30px;
    
    .content {
      margin-left:30px;
      text-shadow: 0px 0px 1px $dark-gray;
      h3 {
        color: #fff;  
      }
      ul {
        list-style:none;
        padding:0;
        line-height:1.25em;
      }
    }
    
    @include ribbon-shadow(0px, -2px, 10px);
    
    &:before {
      @include ribbon-before-after;
      background: url(../images/bottomleft.png);
      left:0;
      right:auto;
      top:-20px;
      bottom:auto;
    }
    &:after {
      @include ribbon-before-after;
      background: url(../images/bottomright.png);
      left:auto;
      right:0;
      top:-20px;
      bottom:auto;
    }
  }
}
.banner {
	&.openqt {
  z-index:1;
  position:absolute;
  margin-top: 15px;
  margin-left: 0px; 
  }
  &.caption1 {
	z-index:1;
	position:absolute;
  font-family: "Arial", sans-serif;
  font-size: 22px;
	margin-top: 30px;
	margin-left: 33px;
	text-shadow: 1px 1px 5px $dark-gray;
	}
  &.caption2 {
  z-index:1;
  position:absolute;
  font-family: "Arial", sans-serif;
  font-size: 22px;
  margin-top: 55px;
  margin-left: 50px;
  text-shadow: 1px 1px 5px $dark-gray;
  }
  &.closeqt {
  z-index:1;
  position:absolute;
  margin-top: 50px;
  margin-left: 405px; 
  }
	&.left {
	float:left;
	margin-left:-20px;
	margin-right:auto;
	}
	&.topright {
	float:right;
	}
	&.bottomright {
	float:right;
	margin-top:10px;
	}
}
header { 
  width: 100%;
  .inner {
    margin-left:50px;
    margin-right:50px;
  }
}
#body_content_right {
  .inner h3
  {
    width: 100%;
    &.upcoming_events {
      color: $light-blue;
      #text-shadow: 1px 1px 1px $dark-gray;
    }
    &.calendar {
      color: $pale-green;
      #text-shadow: 1px 1px 1px $dark-gray;
    }
    &.rfp {
      color: $red;
      #text-shadow: 1px 1px 1px $dark-gray;
    }
    &.video_testimonials {
      color: $sky;
      #text-shadow: 1px 1px 1px $dark-gray;
    }
  }
}
.menu {
  margin-top:35px;
  li {
    background-color: $dark-gray;
    margin-right:3px;
    @include blue-hover;
    &.selected {
      font-weight:normal;
      background-color: darken($blue,20%);
      @include blue-hover;
    }
    &.first {
      margin-left: 7px;
    }
    &.last {
      margin-right: 7px;
    }
  }
  a {
    font-family:"Tahoma", sans-serif;
    color:#fee;
    text-decoration:none;
    font-weight: bold;
    text-shadow: 0px 0px 5px darken($dark-gray, 20%);
    padding:16px;
    padding-top:15px;
    padding-bottom:15px;
    display:block;
    @include ribbon-shadow(0px, 0px, 0px)
  }
}
footer {
  width:100%;
}
.logos {
  height:90px;
}

::selection {
        background: lighten($blue, 40%); /* Safari */
        }
::-moz-selection {
        background: $blue; /* Firefox */
}